.main-div{
  display: flex;
  flex-direction: column;
  align-items: center;
justify-content: center;
height: 90vh;
width: 85vw;
}
.ant-dropdown {
  z-index: 2050;

}
.modal-open{
  z-index: 2050;
}
/* .ant-select {
  z-index: 2050;
} */